name: "Validate Gradle Wrapper"
on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Vaalidate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v1
        with:
          labels: |
            gradle
            dependencies
