name: Mark stale issues and PRs

on:
  schedule:
    - cron: '16 23 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'Stale issue'
          stale-pr-message: 'Stale pull request'
          stale-issue-label: 'stale-issue'
          stale-pr-label: 'stale-pr'
